TOKEN=YOUR_BOT_TOKEN
ADMIN_GROUP_ID=GROUP_ID_WITH_MINUS
# Users, who have access to Bot
ADMIN_IDS=[]

CONFIG_PATH=mtprotoproxy/config.py
CONTAINER_NAME=mtproto-proxy

DOMAIN=ya.ru
PORT=YOUR_MTPROTO_PORT
SERVER_IP=YOUR_SERVER_IP

DB_PATH=mtproto_bot.db

ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
FLASK_PORT=FLASK_PORT