TOKEN=YOUR_BOT_TOKEN
ADMIN_GROUP_ID=GROUP_ID_WITH_MINUS
ADMIN_IDS=[]

CONFIG_PATH=mtprotoproxy/config.py
CONTAINER_NAME=mtproto-proxy

DOMAIN=ya.ru
PORT=443
DOCKER_PORT=4443
SERVER=YOUR_SERVER_IP_OR_DOMAIN

DB_PATH=mtproto_bot.db

ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
FLASK_PORT=5000

XUI_BASE_URL=https://mysite.ru
XUI_USERNAME=admin
XUI_PASSWORD=YOUR_X_UI_PASSWORD

XRAY_INBOUND_ID=1
XRAY_SUB_URL_BASE=https://mysite.ru/sub/