TOKEN=YOUR_BOT_TOKEN
ADMIN_GROUP_ID=GROUP_ID_WITH_MINUS
# Users, who have access to Bot
ADMIN_IDS=[]

MTPROXYMAX_SERVICE=mtproxymax
DOMAIN=google.com
PORT=4433
SERVER_IP=YOUR_SERVER_IP
DB_PATH=/root/mtproto_bot.db

ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
FLASK_PORT=5000