<nav class="navbar navbar-expand-lg mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            MTProto Admin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addUserModal">
                        <i class="bi bi-person-plus"></i> Новый пользователь
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#broadcastModal">
                        <i class="bi bi-megaphone"></i> Рассылка
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#sendToModal">
                        <i class="bi bi-chat-dots"></i> Личное сообщение
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="#" id="restartContainerBtn">
                        <i class="bi bi-arrow-repeat"></i> Перезапустить прокси
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-danger" href="#" id="restartServerBtn">
                        <i class="bi bi-exclamation-triangle"></i> Перезагрузить сервер
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>