<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link active" href="#" onclick="showTab('users'); return false;" id="nav-users">
            <i class="bi bi-people"></i> Пользователи
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showTab('requests'); return false;" id="nav-requests">
            <i class="bi bi-inbox"></i> Заявки
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showTab('broadcast'); return false;" id="nav-broadcast">
            <i class="bi bi-megaphone"></i> Рассылка
        </a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addUserModal">
            <i class="bi bi-person-plus"></i> Добавить
        </a>
    </li>
</ul>
